html,body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    
}
header{
    height: 0px;
}
#wrap{
    min-height: calc(100% -60px);
    padding-bottom: 90px;
}
footer{
    height: 60px;
    font-size: 11px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
#video-container{
    position: relative;
    float:right;
    width: 60%;
     
}
#main_video{
    width:100%;
    height:auto;
}
#main_video::-webkit-media-controls {
    display: none !important;
}

#main_video::-webkit-media-controls-panel {
    width: 0 !important;
}
#main_image{
    position: relative;
    z-index:1;
}
#nav1{
    position: absolute;
    left: 20px;
    border-radius: 5px;
}
#text_content {
    position: relative;
    float:left;
    width: 40%;
    padding: 20px;
    text-align: right;
    border-radius: 5px;
    
}
#image_card{
    position: relative;
    margin:50px;

}

#nav1{
    margin-left:200px;
    text-align: center;
    display: inline-block;

}
#nav1>ul {
    width: 100%;
    list-style-type:none;
    display: inline-block;
}
#nav1>ul li{
    float:left;
    padding:0 30px;
}
#nav2{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;

}
#nav2>ul {
    list-style-type: none;
    padding: 0;
}
#nav2>ul li{
    display: inline-block;
    margin-right:30px;
    padding: 0;
}
#nav2 > ul li:last-child{
    margin-right: 0;
}
