body {
    background-color: #F3F4F9;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inner-container {
    background-color: white;
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 20px gainsboro;
}


form input:not(:last-of-type) {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #E5E9F5;
    background-color: #F6F7FA;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
}

.form-controls {
    margin-bottom: 20px;
}


h3 {
    text-align: center;
    color: black;
    font-size: 150%;
    font-weight: 500;
}

label {
    color: #7369AB;
}

::placeholder {
    color: #C0C7DB;
    font-size: larger;
    letter-spacing: 1.2px;
}

.form-controls button {
    border: none;
    font-size: 120%;
}

.form-controls button:hover {
    cursor: pointer;
}

button[type="submit"] {
    padding: 16px 75px;
    background-color: black;
    border-radius: 10px;
    color: white;
}


@media(max-width:1438px) {
    lottie-player {
        width: 300px!important;
    }
}

@media(max-width:1124px) {


    .form-inner-container{
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 684px) {
    .form-controls {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    button {
        width: 100%;
    }

    form input:not(:last-of-type) {
        width: 85%;
    }

}