*{
    margin: 0;
    padding: 0;
}
footer{
    height: 60px;
    font-size: 11px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
a{
    text-decoration:none;
    font-size:15px
}

#wrap{
    min-height: calc(100% -60px);
    padding-bottom: 90px;
}

.image-container{
    position: relative;
    text-align: center;
}
.image-container img{
    width: 380px;
    height:auto;
    margin: 30px;
}


.button-container{
    position: absolute;
    left: 225px;
    transform: translateX(-50%);
   
    margin-bottom: 300px;
}
.img-button{
    background: 
    url("./image/purchase_button.png")
    no-repeat;
    width:400px;
    height: 60px;
    border: none;
}


.video-container{
    margin-bottom:100px;
}
#main_video{
    width:60%;
    height:50%;
}
#main_video::-webkit-media-controls {
    display: none !important;
}

#main_video::-webkit-media-controls-panel {
    width: 0 !important;
}


#main_image{
    position: relative;
    margin-top: 20px;
    margin-left: 5px;
    z-index:1;
}
#image_card{
    position: relative;
    text-align: center;
    margin:50px;

}

#text-content {
    margin-right: 200px;
    margin-top: 250px;
    font-size: 20px;
    color: gray

}
#exclusive{
    font-size: 30px;
}

#nav2{
    position: fixed;
    margin-left: 200px;
    text-align: center;
    display: inline-block;
}
#nav2>ul {
    width: 100%;
    list-style-type:none;
    display:inline-block;
}
#nav2>ul li{
    float:right;
    padding: 0 30px;
    line-height:80px;
}
#nav2 a{
    color: #808080;
}
@media screen and(max-width:1000px){

}
@media and (max-width:600px) {
    
}
