#nav1{
    position: absolute;
    left: 20px;
    border-radius: 5px;
}
#nav1{
    /*네비게이션 바 위치 상단에 고정*/
    position:fixed ;
    margin-left: 200px;
    text-align: center;
    display: inline-block;
}
#nav1>ul{
    width: 100%;
    list-style-type:none;
    display:inline-block;
}
#nav1>ul li{
    float:left;
    padding: 0 30px;
    line-height:80px;
}
#nav1 a{
    color: white;    
}